body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
}

header {
  background-color: #004466;
  color: white;
  padding: 1em;
  text-align: center;
}

nav a {
  margin: 0 1em;
  color: white;
  text-decoration: none;
}

main {
  padding: 2em;
  text-align: center;
}

footer {
  background-color: #ddd;
  padding: 1em;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.profile-pic {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 1em;
}
